/** ADD YOUR AWESOME CODES HERE **/

.result-container {
  justify-content: center;
  padding: 30px;
}

.result-container h1 {
  padding: 20px;
}

.result-image {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  padding: 20px;
}

.recipe-ingredients {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}

.instructions {
  padding: 30px;
}

.em {
  color: #fa9388;
}

.blog-tag-box .x {
  position: relative;
  float: right;
  background: white;
  border: #010101;
  color: white;
  top: -10px;
  right: -10px;
}

.recipe-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  padding: 20px;
}

select {
  width: 100%;
  border-radius: 1em;
}

.logrow {
  display: block;
  text-align: center;
}
